@font-face {
  font-family: "JetBrains Mono";
  src: url("../../public/JetBrainsMono-Regular.ttf");
}
nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100px;
  border-bottom: 1px solid #707070;
  background-color: #191919;
  margin-top: -10px;
  margin-left: -10px;
  font-family: "JetBrains Mono", monospace;
}
nav .navigation {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  list-style: none;
  padding: 0;
  color: #959595;
  font-size: 18px;
  z-index: 3;
}
nav .navigation .right {
  position: absolute;
  right: 100px;
  color: white;
}
nav .nav-links {
  text-decoration: none;
  color: #959595;
}
nav .nav-links:hover {
  color: #f3f2f2;
}
nav img {
  margin-left: 150px;
  width: 125px;
}
nav .greenbox {
  position: absolute;
  width: 300px;
  height: 100vh;
  background-color: #247B70;
  top: 0;
  right: 280px;
}

@media only screen and (max-width: 1450px) {
  nav .navigation {
    justify-content: space-around;
    width: 40vw;
  }
  nav .greenbox {
    right: 250px;
  }
}
@media only screen and (min-width: 450px) {
  .menuToggle {
    display: none;
  }
}
@media only screen and (max-width: 365px) {
  .greenbox {
    display: none;
  }
  nav img {
    margin-left: 200px;
  }
  nav .navigation li {
    display: none;
  }
  .menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  .menuToggle a:hover {
    color: tomato;
  }
  .menuToggle input {
    display: inline-block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -46px;
    left: -280px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
   * Just a quick hamburger
   */
  .menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: -46px;
    left: -280px;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /*
   * But let's hide the middle one.
   */
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
   * Ohyeah and the last one should go the other direction
   */
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  .menu {
    position: absolute;
    width: 105vw;
    height: 100vh;
    margin: -115px 0 0 -333px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /*
   * And let's slide it in from the left
   */
  .menuToggle input:checked ~ ul {
    transform: none;
  }
}
@media only screen and (min-width: 375px) and (max-width: 430px) {
  .greenbox {
    display: none;
  }
  nav img {
    margin-left: 200px;
  }
  nav .navigation li {
    display: none;
  }
  .menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 0px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  .menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  .menuToggle a:hover {
    color: tomato;
  }
  .menuToggle input {
    display: inline-block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -46px;
    left: -280px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*
   * Just a quick hamburger
   */
  .menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: -46px;
    left: -280px;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /*
   * But let's hide the middle one.
   */
  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*
   * Ohyeah and the last one should go the other direction
   */
  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  .menu {
    position: absolute;
    width: 105vw;
    height: 100vh;
    margin: -115px 0 0 -333px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  /*
   * And let's slide it in from the left
   */
  .menuToggle input:checked ~ ul {
    transform: none;
  }
  nav img {
    margin-left: 230px;
  }
  nav .menu {
    margin: -115px 0 0 -370px;
  }
}

/*# sourceMappingURL=Header.module.css.map */
